---
title: Assignment 04
author:
  - name: Bhargavi Manyala
    affiliations:
      - id: bu
        name: Boston University
        city: Boston
        state: MA
number-sections: true
date: today
date-modified: today
date-format: long
format:
  html:
    theme: cerulean
    toc: true
    toc-depth: 2
engine: jupyter
jupyter: assignment-04-kernel
execute:
  echo: true
  eval: true
  output: true
  freeze: auto
---

# Load the Dataset

In [16]:
from pyspark.sql import SparkSession
import pandas as pd
import plotly.express as px
import plotly.io as pio
import numpy as np
from pyspark.sql.functions import col, pow
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import col, when, expr, trim, regexp_replace
from pyspark.sql.functions import col, sum
import matplotlib.pyplot as plt


np.random.seed(42)

pio.renderers.default = "notebook+notebook_connected+vscode"

# Initialize Spark Session
spark = SparkSession.builder.appName("LightcastData").getOrCreate()

# Load Data
df = (
    spark.read
    .option("header", "true")
    .option("inferSchema", "true")
    .option("multiLine", "true")
    .option("escape", "\"")  
    .csv("data/lightcast_job_postings.csv")

)

df.createOrReplaceTempView("job_postings")
#df.show(5)

# Feature Engineering

### Take columns needed for anlaysis

In [ ]:
eda_cols = [
    "SALARY",
    "MIN_YEARS_EXPERIENCE",
    "DURATION",
    "COMPANY_IS_STAFFING", 
    "IS_INTERNSHIP",
    "STATE_NAME",
    "REMOTE_TYPE_NAME",
    "EMPLOYMENT_TYPE_NAME",
    "MIN_EDULEVELS_NAME"
]

df_eda = df.dropna(subset=eda_cols)
df_eda = df_eda.select(eda_cols)
df_eda.show(truncate=False)

+------+--------------------+--------+-------------------+-------------+--------------+----------------+----------------------+-------------------+
|SALARY|MIN_YEARS_EXPERIENCE|DURATION|COMPANY_IS_STAFFING|IS_INTERNSHIP|STATE_NAME    |REMOTE_TYPE_NAME|EMPLOYMENT_TYPE_NAME  |MIN_EDULEVELS_NAME |
+------+--------------------+--------+-------------------+-------------+--------------+----------------+----------------------+-------------------+
|192800|6                   |55      |false              |false        |Michigan      |[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|125900|12                  |18      |false              |false        |Arizona       |[None]          |Full-time (> 32 hours)|Associate degree   |
|118560|5                   |20      |true               |false        |Indiana       |Remote          |Full-time (> 32 hours)|No Education Listed|
|192800|6                   |55      |false              |false        |Ohio          |[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|116500|12                  |16      |false              |false        |Arizona       |[None]          |Full-time (> 32 hours)|Associate degree   |
|166500|7                   |27      |false              |false        |Michigan      |[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|156038|2                   |15      |false              |false        |Oklahoma      |Remote          |Full-time (> 32 hours)|Master's degree    |
|149695|10                  |50      |false              |false        |South Carolina|[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|161200|6                   |11      |false              |false        |Florida       |[None]          |Full-time (> 32 hours)|No Education Listed|
|110000|3                   |11      |true               |false        |Texas         |[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|149695|10                  |50      |false              |false        |Ohio          |[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|131091|5                   |11      |false              |false        |California    |[None]          |Full-time (> 32 hours)|No Education Listed|
|161200|7                   |15      |true               |false        |North Carolina|[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|136400|8                   |50      |false              |false        |California    |Hybrid Remote   |Full-time (> 32 hours)|Bachelor's degree  |
|54080 |2                   |40      |true               |false        |Alaska        |[None]          |Full-time (> 32 hours)|No Education Listed|
|161840|5                   |12      |false              |false        |Colorado      |Not Remote      |Full-time (> 32 hours)|No Education Listed|
|64480 |0                   |33      |true               |false        |North Carolina|[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|141600|7                   |54      |false              |false        |South Carolina|Remote          |Full-time (> 32 hours)|Bachelor's degree  |
|150000|7                   |5       |true               |false        |New Jersey    |[None]          |Full-time (> 32 hours)|Bachelor's degree  |
|130000|5                   |5       |false              |false        |Massachusetts |Remote          |Full-time (> 32 hours)|Bachelor's degree  |
+------+--------------------+--------+-------------------+-------------+--------------+----------------+----------------------+-------------------+
only showing top 20 rows

+----------------------------+
|MIN_EDULEVELS_NAME          |
+----------------------------+
|Bachelor's degree           |
|Ph.D. or professional degree|
|High school or GED          |
|Master's degree             |
|No Education Listed         |
|Associate degree            |
+----------------------------+

### Clean categorical columns

In [ ]:

# Clean Remote Type Name

df_eda = df_eda.withColumn(
    "REMOTE_TYPE_NAME",
    when(col("REMOTE_TYPE_NAME") == "Remote", "Remote")
    .when(col("REMOTE_TYPE_NAME") == "[None]", "Undefined")
    .when(col("REMOTE_TYPE_NAME") == "Not Remote", "On Premise")
    .when(col("REMOTE_TYPE_NAME") == "Hybrid Remote", "Hybrid")
    .when(col("REMOTE_TYPE_NAME").isNull(), "On Premise")
    .otherwise(col("REMOTE_TYPE_NAME"))
)

# Clean Employment Type Name

df_eda = df_eda.withColumn(
    "EMPLOYMENT_TYPE_NAME",
    when(col("EMPLOYMENT_TYPE_NAME") == "Part-time / full-time", "Flexible")
    .when(col("EMPLOYMENT_TYPE_NAME") == "Part-time (â‰¤ 32 hours)", "Parttime")
    .when(col("EMPLOYMENT_TYPE_NAME") == "Full-time (> 32 hours)", "Fulltime")
    .when(col("EMPLOYMENT_TYPE_NAME").isNull(), "Fulltime")
    .otherwise(col("EMPLOYMENT_TYPE_NAME"))
)


# Clean Education level Name

df_eda = df_eda.withColumn(
    "MIN_EDULEVELS_NAME",
    when(col("MIN_EDULEVELS_NAME") == "Bachelor's degree", "Bachelor's")
    .when(col("MIN_EDULEVELS_NAME") == "Ph.D. or professional degree", "PhD")
    .when(col("MIN_EDULEVELS_NAME") == "High school or GED", "High School")
    .when(col("MIN_EDULEVELS_NAME") == "Master's degree", "Master's")
    .when(col("MIN_EDULEVELS_NAME") == "No Education Listed", "None")
    .when(col("MIN_EDULEVELS_NAME") == "Associate degree", "Associate")
    .when(col("MIN_EDULEVELS_NAME").isNull(), "None")
    .otherwise(col("MIN_EDULEVELS_NAME"))
)

# Clean Company Staffing

df_eda = df_eda.withColumn(
    "COMPANY_IS_STAFFING",
    when(col("COMPANY_IS_STAFFING").isNull(), False)
    .otherwise(col("COMPANY_IS_STAFFING"))
)

# Clean Internship

df_eda = df_eda.withColumn(
    "IS_INTERNSHIP",
    when(col("IS_INTERNSHIP").isNull(), False)
    .otherwise(col("IS_INTERNSHIP"))
)

categorical_cols = [
    "REMOTE_TYPE_NAME", "EMPLOYMENT_TYPE_NAME",
    "MIN_EDULEVELS_NAME", "COMPANY_IS_STAFFING", "IS_INTERNSHIP"
]

for colname in categorical_cols:
    print(f"\n---- {colname} ----")
    df_eda.select(colname).distinct().show(truncate=False)

---- REMOTE_TYPE_NAME ----

+----------------+
|REMOTE_TYPE_NAME|
+----------------+
|Remote          |
|On Premise      |
|Hybrid          |
|Undefined       |
+----------------+


---- EMPLOYMENT_TYPE_NAME ----

+--------------------+
|EMPLOYMENT_TYPE_NAME|
+--------------------+
|Flexible            |
|Fulltime            |
|Parttime            |
+--------------------+


---- MIN_EDULEVELS_NAME ----

+------------------+
|MIN_EDULEVELS_NAME|
+------------------+
|High School       |
|None              |
|Associate         |
|PhD               |
|Bachelor's        |
|Master's          |
+------------------+


---- COMPANY_IS_STAFFING ----

+-------------------+
|COMPANY_IS_STAFFING|
+-------------------+
|true               |
|false              |
+-------------------+


---- IS_INTERNSHIP ----

+-------------+
|IS_INTERNSHIP|
+-------------+
|true         |
|false        |
+-------------+